/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body/*20190214 ����*/ {
	line-height: 1;
    -webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

@font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 100;
src: url(../webfonts/Roboto-Thin.woff2) format('woff2'),
		url(../webfonts/Roboto-Thin.woff) format('woff'),
		url(../webfonts/Roboto-Thin.otf) format('opentype');
	
	}
@font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 300;
src: url(../webfonts/Roboto-Light.woff2) format('woff2'),
		url(../webfonts/Roboto-Light.woff) format('woff'),
		url(../webfonts/Roboto-Light.otf) format('opentype');
	}

@font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 400;
	src: url(../webfonts/Roboto-Regular.woff2) format('woff2'),
		url(../webfonts/Roboto-Regular.woff) format('woff'),
		url(../webfonts/Roboto-Regular.otf) format('opentype'); 
	}

@font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 500;
	src: url(../webfonts/Roboto-Medium.woff2) format('woff2'),
		url(../webfonts/Roboto-Medium.woff) format('woff'),
		url(../webfonts/Roboto-Medium.otf) format('opentype'); 
	}

@font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 700;
	src: url(../webfonts/Roboto-Bold.woff2) format('woff2'),
		url(../webfonts/Roboto-Bold.woff) format('woff'),
		url(../webfonts/Roboto-Bold.otf) format('opentype'); 
	}

@font-face {
	font-family: 'NotoSnsKR';
	font-weight: 300;
	font-style: lighter;
	src: url(../webfonts/NotoSansKR-Light.woff2)	format('woff2'),
		url(../webfonts/NotoSansKR-Light.woff) format('woff'),
		url(../webfonts/NotoSansKR-Light.otf) format('opentype');
	}
	
	@font-face {
	font-family: 'NotoSnsKR';
	font-weight: 400;
	font-style: normal;
	src: url(../webfonts/NotoSansKR-Regular.woff2)	format('woff2'),
		url(../webfonts/NotoSansKR-Regular.woff) format('woff'),
		url(../webfonts/NotoSansKR-Regular.otf) format('opentype');
	}
	
	@font-face {
	font-family: 'NotoSnsKR';
	font-weight: 500;
	font-style: normal;
	src: url(../webfonts/NotoSansKR-Medium.woff2)	format('woff2'),
		url(../webfonts/NotoSansKR-Medium.woff) format('woff'),
		url(../webfonts/NotoSansKR-Medium.otf) format('opentype');
	}
	
	@font-face {
	font-family: 'NotoSnsKR';
	font-weight: 700;
	font-style: bold;
	src: url(../webfonts/NotoSansKR-Bold.woff2)	format('woff2'),
		url(../webfonts/NotoSansKR-Bold.woff) format('woff'),
		url(../webfonts/NotoSansKR-Bold.otf) format('opentype');
	}


