*, *:after, *::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{height: 100%;background-color: #f5f6fe;font-family: 'Roboto', 'NotoSnsKR', Arial, Helvetica, sans-serif;color: #5d6778;}
a{text-decoration: none;}

/* 배경색 */
.bg-white{background-color: #fff;}
.bgTransparency{background: transparent !important;}

/* 그림자 */
.shadow-xs{box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);}

/* 테두리 둥글게 */
.rounded-lg{border-radius: .5rem;}

/* padding */
.p1rem{padding: 1rem;}

/* margin */
.mb0{margin-bottom: 0px !important;}
.mb20{margin-bottom: 20px !important;}
.mt20{margin-top: 20px !important;}

/* width */
.w100p{width: 100% !important;}

/* border */
.bdb{border-bottom: 0 !important;}

/* legend 공통 */
.success-chart-spot{position: absolute;top: 65px;left: 70px;}
.status-chart-spot{position: absolute;top: 55px;right: 180px;}
.lagendArea>li{margin-bottom: 10px;text-align: left;}
.legendBox{width: 15px;height: 15px;display: inline-block;vertical-align: middle;margin-right: 5px;}
.mintBG{background: #3adaba;}
.blueBG{background: #2e88de;}
.skyblueBG{background: #05b5fc;}
.grayBG{background: #ececec;}
.orangeBG{background: #ffbd60;}

/* header */
.header{width: 100%;height: 56px;
    background: #00baff; /* Old browsers */
    background: -moz-linear-gradient(left,  #00baff 1%, #3a7bd5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00baff 1%,#3a7bd5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00baff 1%,#3a7bd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00baff', endColorstr='#3a7bd5',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .06);
}
.side-menu{position: fixed;min-height: 100vh;height: 100%;top: 0;left: 0;border-right: 1px solid #eee;}
.side-menu-inner{width: 200px;height: 100%;position: relative;background: #fff;box-shadow: 0 8px 15px rgba(0, 0, 0, .1);overflow: hidden;}
.logo-branding{height: 70px;padding: 15px 10px;margin-bottom: 1rem;text-align: left;}
.logo-area{display: inline-block;width: 160px; margin-left: .3rem;}

.nav-bar{width: 25px;height: 20px;position: absolute;top: 15px;left: 215px;cursor: pointer;}
.nav-bar .bar{width: 100%;height: 3px;background: #fff;position: absolute;}
.nav-bar .t{top: 0;}
.nav-bar .m{top: 9px;width: 80%;}
.nav-bar .b{bottom: 0;}

.nav-main{width: 100%;color: #5d6778;display: block;padding: 0;}
.nav-item{display: block;color: #5d6778;background: #fff;}
.nav-main .nav-link{padding: 1.2rem;position: relative;display: block;padding-left: 3.5rem;color: #5d6778;border-left: 3px solid transparent;}
.nav-main .nav-link:hover{color: #19a0ee;}
.nav-main .nav-link.active{color: #19a0ee;background: rgba(25, 160, 238, .05);border-left: 3px solid #19a0ee;}
.nav-icon{position: absolute;left: 1rem;top: .9rem;}
.nav-txt{margin-left: 5px;font-size: 16px;}
.update{position: absolute;right: 20px;top: 15px;font-size: 12px;}
.update::before{content: '';display: inline-block;width: 15px;height: 15px;background: url(../images/update.png) no-repeat;background-size: 100%;vertical-align: sub;margin-right: 3px;}

.tab-area{width: 90%;margin: 0 auto;position: relative;}
.tab-bg{width: 100%;height: 25px;background: rgba(93, 103, 120, .1);border-bottom: 1px solid #d6d8e1;margin-bottom: 30px;}
.tab-list{position: absolute;left: 0;bottom: 0;}
.tab-list > .tab {display: inline-block;width: auto;position: relative;height: 30px;line-height: 30px;background: transparent;padding: 0 10px;border-radius: 5px 5px 0 0;margin-right: 6px;border: 1px solid #d6d8e1;font-size: 14px;}
.tab-list > .tab:hover {font-weight: bold;cursor: pointer;}
.tab-list > .tab.tab-on{border: 0;background: #fff;}
.tab-on::before{content: '';background: #d6d8e1;width: 100%;height: 3px;position: absolute;left: 0;top: 0;border-radius: 5px 0 0 0;}

/* container */
.container{width: calc(100% - 250px);height: calc(100% - 106px);text-align: center;display: inline-block;position: absolute;right: 0;transition: width .4s ease;}
.container-tit{margin: 1em;text-align: left;font-size: 25px;}
#cont{margin: 0 auto;text-align: center;}

.cont-tit-area{width: 90%;border-bottom: 1px solid #ccc;margin: 50px auto;padding-bottom: 15px;text-align: left;}
.cont-subtit {font-size: 30px;font-weight: 600;margin-right: .5em;padding-left: 15px;display: inline-block;letter-spacing: -1px;}
.cont-subtxt {font-size: 18px;display: inline-block;letter-spacing: -1px;}

/* dashboard */
#severStausArea{width: 90%;margin: 0 auto 20px;text-align: left;overflow: hidden;}
#severStausArea .status-box{width: calc(100%/8);margin-right: 10px;box-shadow: 3px 3px 5px rgba(0, 0, 0, .06);display: inline-block;text-align: left;border-radius: 3px;}
#severStausArea .status-box .status-box-inner{width: 100%;padding: 10px 20px;cursor: pointer;border-radius: 3px;}
#severStausArea .status-box .status-box-inner>h3{margin-bottom: 8px;}
#severStausArea .status-box .status-box-inner>p{font-size: 14px;}
.onlineBg{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c9fff+0,6db1ff+100 */
    background: #4c9fff; /* Old browsers */
    background: -moz-linear-gradient(left,  #4c9fff 0%, #6db1ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4c9fff 0%,#6db1ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4c9fff 0%,#6db1ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9fff', endColorstr='#6db1ff',GradientType=0 ); /* IE6-9 */
    color: #fff;
}
.offlineBg{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaeaea+0,eeeeee+100 */
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(left,  #f0f0f0 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f0f0f0 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f0f0f0 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
    color: #ccc;
}
.faultBg{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5e79+0,ff8095+100 */
    background: #ff5e79; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff5e79 0%, #ff8095 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff5e79 0%,#ff8095 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff5e79 0%,#ff8095 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e79', endColorstr='#ff8095',GradientType=1 ); /* IE6-9 */
}

#systemArea, #useperArea{width: 90%;margin: 0 auto;overflow: hidden;}
.system-box{background: #fff;padding-bottom: 1em;}
.performanceList, .hwAreaList{display: flex;justify-content: space-around;height: 11em;padding: 0 70px;box-sizing: border-box;}

.system-tit{text-align: left;padding: 20px 0 20px 30px;color: #5d6778;}
.performance-box{width: 20%;position: relative;border: 1px solid #d6d8e1;border-radius: 5px;padding: 1em;box-sizing: border-box;margin-right: 2em;box-shadow: 3px 3px 5px rgba(25, 160, 238, .05);}
.performance-box:last-child{margin-right: 0;}
.performance-box>h4{font-size: 20px;padding-bottom: 10px;text-align: left;}
.performance-box>p{text-align: left;font-size: 15px;margin-bottom: 30px;color: #999;line-height: 1.2;word-break: keep-all;}
.performance-box>div{font-size: 40px;letter-spacing: -1px;font-weight: normal;display: inline-block;margin-top: 0.8em;}
.success-chart{margin-top: 0 !important;}
.performance-box>span{font-size: 20px;font-weight: normal;margin-left: 5px;display: inline-block;}

.suceess-area{flex-grow: 1;}
.success-chart{position: absolute;right: 0px;top: 20px;height: 130px;}
.suceess-area>canvas{width: 200px;position: absolute;top: 25px;right: 40px;}
.suceess-area>img{position: absolute;left: 50px;top: 3rem;}
.suceess-area>p{width: 110px;}

.channelstatusList{padding: 0 70px;display: flex;justify-content: space-around;align-items: center;}
.channel-left{position: relative;width: 50%;}
.channel-right{position: relative;width: 50%;}
.status-area{width: 50% !important;}
.severchannel-area>canvas{width: 450px !important;}

.hwArea{background: #fff;padding-bottom: 2em;}
.hw-box{padding: 30px 0;box-sizing: border-box;}
.hw-box h4{font-size: 1.3rem;margin-bottom: .7em;display: inline-block;margin-right: 30px;}
.cpu-area>canvas, .memory-area>canvas{width: 250px !important;}
.disk-area>canvas, .network-area>canvas{width: 250px !important;}

/* monitoring */
#monitoring-cont{height: 100%;}
.channel-area{width: 90%;height: calc(100% - 151px);margin: 0 auto;overflow: auto;}
.channel-area::after{content: '';clear: both;display: block;}
.channel-box{float: left;width: 85px;margin-right: 1px;margin-bottom: 20px;background: #fff;color: #5d6778;border-radius: 5px;box-shadow:  0 3px 5px rgba(0, 0, 0, .1);padding: 5px;position: relative;}
.channel-counsel:hover{cursor: pointer;background: rgba(233, 252, 255, .5);}
.channel-box:nth-child(8n){margin-right: 0;}
.channel-wait::before{content: '';width: 4px;height: 100%;background: #9caebc;position: absolute;left: 0;top: 0;border-radius: 5px 0 0 5px;}
.channel-counsel::before{content: '';width: 4px;height: 100%;background: #00A0F4;position: absolute;left: 0;top: 0;border-radius: 5px 0 0 5px;}
.channel-inner{width: 95%;margin: 0 auto;text-align: center;}
.channel-wait div {color: #9caebc;}
.channel-counsel div {color: #00A0F4;}
.channel-sever-txt{text-align: left;font-size: 13px;margin-bottom: 5px;margin-left: 5px;}
.counsel-icon{background-color: #00A0F4;}
.channel-img{width: 37px;height: 35px;background: url(../images/icon_v2.png) no-repeat;background-size: cover;margin: 0 auto 10px;}
.counsel-icon-img{background-position-x: 1px;}
.wait-icon-img{background-position-x: -36px;}
.wait-icon{background-color: #9caebc;}
.channel-status-txt{font-weight: 500;font-size: 1.5rem;margin-bottom: 15px;}

/* sppech to text */
#sppech-cont{height: 100%;}
#speechArea{width: 90%;margin: 0 auto;}

/* 에러 알림 팝업 */
.notice-error-popup{width:auto;position: fixed;right: 10px;bottom: 10px;box-shadow: 1px 3px 5px rgba(0, 0, 0, .075);display: none;}
.notice-error-popup .notice-error{width:100%;background: #f9f9f9;border: 2px solid #e95420;padding: 25px 20px 20px;border-radius: 3px;}
.notice-error-popup .notice-error .notice-error-tit{color: #5d6778;font-size: 20px;}
.notice-error-popup .notice-error .notice-error-tit .notice-error-icon{width: 43px;height: 37px;background: url(../images/error_icon.png) no-repeat 0 0;background-size: cover;display: inline-block;vertical-align: middle;margin-right: 10px;}
.notice-error-popup .notice-error .notice-error-tit .notice-error-level{color: #5d6778;font-weight: bold;}
.notice-error-popup .notice-error .notice-error-tit .notice-error-hostname{color: #5d6778;}
.notice-error-popup .notice-error .notice-error-txt{color: #5d6778;text-align: center;margin-top: 20px;}
.notice-error-popup .notice-error .notice-error-time{color: #5d6778;text-align: center;margin-top: 5px;}
.notice-error-popup .notice-error .close-icon{color: #adaeaf;cursor: pointer;}
.notice-error-popup .notice-error .fa-times{position: absolute;right: 10px;top: 10px;}
.notice-error-popup .notice-error .notice-error-btn{text-align: center;background: #adaeaf;border: 0;color: #fff;border-radius: 3px;padding: 5px 15px;margin: 0 auto;display: inherit;margin-top: 20px;cursor: pointer;vertical-align: middle;}
.notice-error-popup .notice-error .notice-error-btn:hover{font-weight: bold;}